@import "compass/css3";
* {
  /*selector: 2px solid red;*/
  /*box-sizing: solid green;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%; /*always must have in css file*/
}

.header-container {
  display: flex;
  /*background: red;*/
  flex-direction: row;
}

.header-links {
  margin: 5%;
  margin-bottom: 7px;
  padding-right: 35%;
  margin-left: 0%;
  /*max-width: 100%;*/
  height: 86%;
  padding: 3px;
}

.main-container {
  display: flex;
  flex-direction: row;
  background: #d6e1e5;
  margin-top: 5%;
  /*padding-top: -7%;*/
}

.sub-main {
  /*display: flex;*/
  flex-direction: column;
  /*background: darkorange;*/
  width: 36%;
  margin-top: -5%;
}

.sub-main img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 7%;
}

.sub-main h6 {
  color: gray;
}

.man-pic img {
  margin-top: -20%;
  margin-right: 110%;
}

.details {
  display: flex;
  /*background: red;*/
  justify-content: space-evenly;
  margin-top: 4%;
}

.sub-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
}

h6 {
  color: gray;
}

.sub-details image2 {
  width: 20px;
  width: 20px;
}

.footer-container {
  display: flex;
  background: #f5f5f5;
  /*padding: 10%;*/
  justify-content: flex-start;
  justify-content: space-evenly;
  margin: 5%;
  margin-bottom: auto;
  margin-top: auto;
  flex-grow: 1;
}

h5 .details {
  color: #d6e1e5;
}

.blog,
.blog-1,
.sub-details,
.suspendise {
  padding: 3%;
}
